# Dependencies. When you update don't forget to update setup.py.
pandas
pyarrow>=4.0.0
fsspec>=0.7.4
requests
aiohttp
yarl>=1.6.0

# Linter
mypy==0.812
flake8

# Code formatter. Only support Python 3.6+
black==21.12b0

# Test
pytest
